NUM_QUESTIONS= # Number of quiestions to be generated
MODEL_ENTITY_EXTRACTION= # Model used for entity extraction eg. "gpt-4o-mini" or "deepseek-chat"
MODEL_SPARQL_GENERATION= # Model used for SPARQL query generation  eg. "gpt-4o-mini" or "deepseek-chat"
API_KEY= # LLM API key
LLM_PROVIDER= # Change which LLM provider to use. Currently implemented: "openai" & "deepseek"
BASE_JSON_FILE= # Benchmark JSON file in the QLAD benchmark format
SYSTEM_PROMPT_PATH="./prompts/system_prompt.txt" # Path to system prompt
IS_LOCAL_GRAPH= # Set to True if you want to use a local graph instead of the QLAD benchmark
LOCAL_GRAPH_LOCATION= # Path to the local graph